* {
    
    margin: 0%;
    padding: 0%;
 
}



body {
    background-color: #fff;
    width: 1860px;
    margin: auto;

}



h1 {
    color: cornsilk;
    text-align: center;
    width: auto;
    line-height: 200%;
    background-color: cadetblue;
}

h2 {
    color: darkblue;
    background-color: burlywood;
  
    text-align: center;
    font-size: 160%;


}

p {
    background-color: wheat;

    color: black;
    text-align: center;
    width: 98%;
    font-size: 120%;
    

   
}

table {
    background-color: wheat;
    color: black;
    text-align: center;
    font-size: 110%;
    
}

nav ul li {
    background-color: burlywood;
    list-style-type: circle;
    width: 250px;
    display: inline-block

    
}

nav ul {
    text-align: center;
    list-style-type: none;
    background-color: burlywood;
    line-height: 40px;
 
}
    
nav ul li a {
    color: darkblue;
}

nav ul li a:hover {
    color: darkmagenta;
    background-color: darkgray;
}

  

#ilkİletisim {
    background-color: burlywood;
    

    
}

.hakkimdaListe {

    background-color: wheat

    
    
}

#kücükBaslık {
    text-align: center;
}

footer {
    background-color: wheat
}

h3 {
    background-color: cadetblue;
    
    color: white;
}

address {
    background-color: burlywood;
}

#hakkimdArka {
    background-color: wheat;
}

#iletisimArka {
    background-color: burlywood;
}

.hakkimdaFooter {
    background-color: bisque;
    height: 230px;
    color: black;
    text-align: center;
    font-size: xx-large;

}
img {
    margin: 7px;
}

ol li {
    font-size: 120%;
}

ul li {
    font-size: 120%;
}

.hakkimdaBaslik {

    text-align: start;
}